/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;

}
html,body{
	height: 100%;
	line-height: 1;
	font-size: inherit;
    margin: 0px;
	
}
body{
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fffcfc;}
a:hover{text-decoration: none; color: #fbef09; }
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100% ;
}

[class*="__container"]{
    max-width: 1160px;
    margin: 0 auto;}

.header {
    width: 100%;
    /* top: 0;
    left: 0; */
    z-index: 50;
    margin-bottom: 30px;


}
.header__background{
    background-image:url(images/жк2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    position: relative;
   
    
}
.header__background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
.header__container{
    z-index: 3;
    position: relative;
}
    
.header__main{
    display: flex;
    min-height: 180px;
    align-items: center;
    /* box-shadow: 10px 5px 5px blue; */
    
}

.header__logo{
    /* border-left: #fbef09 solid 3px; */
    /* border-left: #3048d0 solid 3px; */
    padding-left: 10px;
    max-width: 150px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,2;
    letter-spacing: 0.14em;
    display: flex;
    align-items: center;

}
.header__logo_a{
    color: #fffcfc;
    

}
.header__logo_a:visited{
    color: #FFFFFF;
}

.logo_img{
   border-right: #ffffff solid 3px;
}
.logo_logo{
    height: 100px;
    width: 100px;
}
.logo_text{
    padding-left: 10px;
}
.header__menu{
    flex: 1 1 auto;}

.menu{
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 250px;

}
        
.menu__list{
    display: flex;}
        
.menu__items{}
        
.menu__links{
    margin-right: 40px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1,2;
    color: #ffffff;
    letter-spacing: 0.14em;
}
        
.header__basket{
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
   }
.header__content{
    display: block;
}
.header__content_tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin: 80px 0px 80px 0px
}
.header__content__text{
    font-weight: 700;
    font-style: italic;
    font-size: 26px;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin-bottom: 120px;
}
.header__content_button{
    margin-top: 40px;
}
.header__content_button_1{
    background-color: #616161;
    color: #FFFFFF;
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 700
    
    

}

   /*----------------------------------------------*/
main{
    flex: 1 1 auto;
}
.services { }
.services__container { }
.service__title {  
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 50px 0px 80px 0px}

.services__items { 
    display: flex;
    justify-content:center;
    gap: 74px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}
.services__item {
    background: #FFFFFF;
    /* z-index: 2; */
    box-shadow: 0px 4px 18px rgba(10, 44, 148, 0.18);
    border-radius: 8px;
    padding: 25px 10px;
    text-align: center;
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services__item_icon{
    margin-bottom: 20px;
}

.services__item_icon img{
    width: 80px;
    height: 80px;
    
   
}
.services__item_text { 
    font-style:normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 22px; */
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
   
}
   /*----------------------------------------------*/
/* .sertificates{
    height: 600px;
    background-color: #bdbdbd;
}
   .sertificates__container{
    margin: 50px 0px 80px 0px;
   }
   .sertificates__tittle{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000000;
    
    padding: 50px 0px 0px 0px;}
    */


    /*----------------------------------------------*/
.contacts { 
    background-color: #f9f9f9;
    display: flex;
 
}
.contacts__container {
    border-top: #285397 solid 20px;
 }
.contacts__tittle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 50px 0px 80px 0px;
    padding: 25px 0px 0px 0px;
    display: block;
}
.contacts__content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 100px;
 }
.contacts__content_text {
    font-style:normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: start;
    letter-spacing: 0.08em;
    color: #000000;

}
.contacts__content_text p{
    margin-bottom: 30px;
}
.contacts__content_textp h1{
    margin-bottom: 30px;
}
.contacts__content_map {
   
}
.map{
    border-radius: 16px;
    width: 400px;
    height: 300px;
    /* box-shadow: 10px 5px 5px  #616161;; */
    padding: left 300px;;
}

/*----------------------------------------------*/
.aboutus {
    margin-bottom: 40px;
}


.aboutus{
    padding-top: 30px;
    
}
.aboutus__container {
    border-top: #285397 solid 20px;
 }
.aboutus__tittle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 50px 0px 80px 0px;
    padding: 50px 0px 0px 0px;
    display: block;
}
.filials{
    column-count: 2;
    padding-left: 230px;
    padding-bottom: 150px;
    
}
.filials_items {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    /* margin: 50px 0px 80px 0px;
    padding: 50px 0px 0px 0px; */
    display: block;

}
.filials_items a {

    color: #000000;
    
}
.filials_items a:hover {

    color: #0e3bde;
    
}
/* .aboutus__content_flex{
    display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	
}
.aboutus__content{

}


.aboutus__form { 
    background-color:  #e8e5e5;
    width: 500px;
    flex: 1 1 70%;
    padding: 20px 30px 20px 20px;
}
.aboutus__form_tittle{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 20px 0px 20px 0px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 3px solid yellow;
    padding-bottom: 20px;

}
.form__name {
    margin-bottom: 16px;
}
.form__name__label{
   display: block;
   margin-bottom: 0.25rem;
   font-size: 16px;
}
.form__name__input{
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form__name__input::placeholder{
    color:  #212529;
    opacity: 0.4;
}
.form__number {
    margin-bottom: 16px;}

.form__number__label{
    display: block;
    margin-bottom: 0.25rem;
    font-size: 16px;
 }
.form__number__input{
   display: block;
   width: 80%;
   height: calc(2.25rem + 2px);
   padding: 0.375rem 0.75rem;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #bdbdbd;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}

.form__sms {
    margin-bottom: 16px;}

.form__sms__label{
    display: block;
    margin-bottom: 0.25rem;
    font-size: 16px;
 }
 .form__sms__input{
   display: block;
   width: 80%;
   height: 100px;
   padding:;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #bdbdbd;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}

.aboutus__submit{
padding: 15px 30px;
display: block;
border-radius: 10px;
}

.aboutus__contakt{
    flex: 1 1 30%;
    padding: 20px 30px 20px 20px;
}
.aboutus__contakt__tittle{
    font-style:normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 22px;
    text-align: start;
    letter-spacing: 0.08em;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.aboutus__contakt__items{
    font-style:italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
    letter-spacing: 0.08em;
    color: #000000;
    margin-bottom: 50px;
}
.aboutus__contakt_note {
    font-style:italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: start;
    letter-spacing: 0.08em;
    color: #000000;
    vertical-align: bottom;
    padding-top: 100px;
} */
.contacts__content_text{

}

.footer{
    height: 200px;
    background-color: #194c71;
    display: flex;
    align-items: center;
    
}
.footer_content{
display: flex;
flex-direction: column;
justify-content: center
}
.footer_img img{

    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    padding-left: 40px;
}

.rights{    
    color: #e8e5e5;
}

border-left: #fbef09 solid 3px;
/* border-left: #3048d0 solid 3px; */
/* padding-left: 10px;
max-width: 90px;
text-transform: uppercase;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1,2;
letter-spacing: 0.14em; */
.footer__container { }


@media (max-width: 440px) {

    .header__background {
        background-image: url(images/жк2.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 34vh;
        position: relative;}
    .header__logo {
        /* border-left: #fbef09 solid 3px; */
        /* border-left: #3048d0 solid 3px; */
        padding-left: 10px;
        max-width: 150px;
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 1,2;
        letter-spacing: 0.14em;
        display: flex;
        align-items: center;}
        
        .logo_logo {
            height: 70px;
            width: 85px;}

        .menu {
                display: flex;
                justify-content: center;
                padding: 0px 0px 0px 53px;
            }

        .menu__links {
                margin-right: 20px;
                text-transform: uppercase;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 8px;
                line-height: 1, 2;
                color: #ffffff;
                letter-spacing: 0.14em;}

                .header__content_tittle {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 9px;
                    line-height: 28px;
                    /* text-align: start; */
                    text-transform: uppercase;
                    letter-spacing: 0.08em;
                    color: #ffffff;
                    margin: -22px 0px 16px 36px;
}
.header__content__text {
    font-weight: 700;
    font-style: italic;
    font-size: 17px;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    margin-left: 36px;
    margin-bottom: 75px;}

    .header__content_button_1 {
        display: none;
        
}

.filials {
   column-count: 1;
    padding-left: 114px;
    padding-bottom: 150px;}
   
    .contacts__tittle {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: #000000;
        
        padding: 25px 0px 0px 0px;
        display: block;}

        .map {
            display: none;
        }

        .contacts__content {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            margin-left: 40px;}

}

@media (max-width: 390px) {
    .header__logo {

        padding-left: 2px;
        font-size: 8px;}

        .menu {
            display: flex;
            justify-content: center;
            padding: 0px 0px 0px 23px;
        }
        .header__content_tittle {
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 19px;
            /* text-align: start; */
            text-transform: uppercase;
            letter-spacing: 0.08em;
            color: #ffffff;
            margin: -22px 0px 16px 36px;}

            .filials {
                column-count: 1;
                padding-left: 96px;
                padding-bottom: 150px;
            }
}