.consultation-button {
    border-radius: 100px;
    background: $headerBackground;
    padding: 20px 65px;
    color: $mainWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.16px;
    &:hover {
        opacity: 0.8;
    }
}