.consultation-button {
    border-radius: 100px;
    background: $headerBackground;
    padding: 20px 65px;
    color: $mainWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.16px;
    &:hover {
        opacity: 0.8;
    }
    @media (max-width: 768px) {
            padding: 12px 20px; 
            font-size: 14px; 
            line-height: 14px; 
            border-radius: 50px; 
    }
}

.our-service-button {
    border-radius: 100px;
    padding: 20px 65px;
    color: $mainWhite;
    border: 2px solid $mainWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.16px;
    text-align: center;
    &:hover {
        opacity: 0.8;
    }
    @media(max-width: 976px) {
        padding: 12px 40px;
    }
}
.our-service-button--black {
    border-radius: 100px;
    padding: 20px 65px;
    color: $mainBlack;
    border: 2px solid $mainBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.16px;
    &:hover {
        opacity: 0.8;
    }
}
.button-white {
    padding: 20px 65px;
    border-radius: 100px;
    background: $mainWhite;
    color: $mainBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}