.department-hero {
  @media (max-width: 768px) {
    background-image: url("/img/hero/hero-image-mobile.webp");
    background-position: center;
    background-size: cover;
  }
  &__subtitle {
    color: $mainBlack;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.32px;
  }
  &__container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  }
  &__cta {
    @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      padding: 20px 0;
    }
  }
  &__content {
    max-width: 50%;
    @media (max-width: 768px) {
      max-width: 80%;
      text-align: center;
      padding-bottom: 100px;
    }
  }

  &__region {
    font-size: 18px;
    color: #2c4fc9;
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.98px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 5px;
      color: #fcfcfc;
      font-weight: 400;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    color: $mainBlack;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 32px;
      margin-bottom: 10px;
      color: $mainWhite;
    }

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  &__description {
    color: $descriptionColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.18px;
    margin-bottom: 40px;
    max-width: 500px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 20px;
      color: $mainWhiteDesc;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__benefits {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 15px;
      margin-bottom: 30px;
      max-width: 300px;
    }
  }

  &__benefit {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    color: #333;

    &-icon {
      font-weight: bold;
      color: #1d3bd3;
      margin-right: 5px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      color: $mainWhite;
      text-align: left;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__button {
    @media (max-width: 768px) {
      font-size: 16px;
      padding: 8px 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  &__checkmark {
    @media (max-width: 768px) {
      display: none;
    }
    &--white {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  &__image {
    max-width: 45%;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      border-radius: 5px;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      margin-top: 20px;
      display: none;
    }
  }
}
