.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.floating-emblem,
.floating-call {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.floating-call__icon {
  width: 30px;
  height: 30px;
}

.floating-buttons:hover .floating-call,
.floating-emblem:hover {
  opacity: 0.8;
}

@media screen and (min-width: 769px) {
  .floating-call {
      display: none;
  }
}

@media screen and (max-width: 768px) {
  .floating-call {
      display: flex;
  }
  .floating-emblem__icon {
      display: none;
  }
  .mobile-svg {
      display: block;
  }
}
