.footer {
    background-color: #0d1325;
    color: #ffffff;
    &__wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  
    &__section {
      flex: 1;
      &--info {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
      &--contacts {
        padding-top: 80px;
      }
    }
  
    &__title {
        font-size: 36px;
        margin-bottom: 120px;
        &:first-child {
            padding-top: 80px;
            margin-bottom: 102px;
        }
    }
  
    &__text {
      font-size: 1rem;
      margin-bottom: 5px;
      &-info {
        padding-top: 80px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      &-address {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 50px;
        & p {
          max-width: 450px;
          padding-left: 80px ;
          font-size: 20px;
        }
      }
      &-contacts {
        padding-top: 50px;
        & .footer__text:first-child {
          margin-bottom: 15px;
        }
        & p {
          max-width: 450px;
          padding-left: 80px ;
          font-size: 20px;
        }
      }
    }
    &__buttons {
      display: flex;
      gap: 10px;
      margin-left: 80px;
      margin-top: 40px;
      margin-bottom: 60px;
      
    }
  
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 60px;
      font-size: 0.9rem;
    }
  
    &__info {
      display: flex;
      gap: 15px;
      color: $mainGray;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
    }
  
    &__link {
      color: $mainGray;
      text-decoration: none;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 60px;
      padding-left: 32px;
      @media(max-width: 1100px) {
        margin-bottom: 0;
        padding-left: 0;
      }
      &-titles {
        h2 {
          font-size: 28px;
          font-weight: bold;
          margin-block-start: 0;
          margin-block-end: 0;
          @media(max-width: 500px) {
            font-size: 14px;
            font-weight: 600;
          }
        }
        
        p {
          margin-block-start: 0;
          margin-block-end: 0;
          margin-bottom: 5px;
          font-weight: 400;
          @media(max-width: 500px) {
            font-size: 12px;
          }
        }
      }
      &-container {
        border-radius: 10px;
        background: $mainWhite;
        width: 64px;
        height: 64px;
        @media(max-width: 500px) {
          width: 40px;
          height: 40px;
        }
      }
  
      &-image {
        padding: 7px 11px 8px 12px;
        max-width: 40px;
        max-height: 49px;
        background: white;
        border-radius: 8px;
        @media(max-width: 500px) {
          padding: 5px 8px;
          max-width: 24px;
          max-height: 30px;
        }
      }
    }
}
  