{% for block in page.blocks %}
  {% case block.block %}
  {% when 'advantages' %}
    <div class="advantages">
        <div class="container advantages__wrapper">
            <div class="advantages__content">
                <span class="advantages__badge main-tag">{{ block.content.badge }}</span>
                <h2 class="advantages__title">{{ block.content.title }}</h2>
                <p class="advantages__description">
                    {{ block.content.description }}
                </p>
                <img class="advantages__image" src="{{ block.content.image }}" alt="Advantages image">
            </div>
            <div class="advantages__list">
                {% for advantage in block.content.advantages %}
                <div class="advantage">
                    <div class="advantage__number">{{ advantage.number }}</div>
                    <div class="advantage__content">
                        <h3 class="advantage__title">{{ advantage.title | newline_to_br }}</h3>
                        <p class="advantage__text">{{ advantage.text | newline_to_br }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  {% endcase %}
{% endfor %}
