<div class="breadcrumb section section--white section--s temp">
    <div class="container">
        <div class="breadcrumb__wrapper breadcrumb__wrapper--hero">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumb__item breadcrumb__home breadcrumb__home--hero" itemprop="itemListElement"
                    itemscope itemtype="https://schema.org/ListItem">
                    <a href="/" itemprop="item">
                        Головна
                    </a>
                    <img src="/img/icons/breadcrumb-symbol.svg" alt=">" class="breadcrumb-symbol">
                    <img src="/img/icons/breadcrumb-symbol-mobile.svg" alt=">"
                        class="breadcrumb-symbol breadcrumb-symbol--mobile">
                    <meta content="1" itemprop="position" />
                </li>
                {% if page.breadcrumbs-parent-name %}
                <li class="breadcrumb__item active active--hero">
                    <a href="{{ page.breadcrumbs-parent-url }}" itemprop="item">
                        <span itemprop="name"> {{ page.breadcrumbs-parent-name }} </span>
                    </a>
                    <img src="/img/icons/breadcrumb-symbol.svg" alt=">" class="breadcrumb-symbol">
                    <img src="/img/icons/breadcrumb-symbol-mobile.svg" alt=">"
                        class="breadcrumb-symbol breadcrumb-symbol--mobile">
                    <meta content="2" itemprop="position" />
                </li>
                {% endif %}
                <li class="breadcrumb__item active--hero">
                    <span itemprop="name"> {{ page.breadcrumbs_current }} </span>
                    <meta content="
                                        {% if page.breadcrumbs_child-url %}
                                            4
                                        {% else %}
                                            3
                                        {% endif %}
                                    " itemprop="position" />
                </li>
            </ol>
        </div>
    </div>
</div>