<div class="contact-us">
    <div class="contact-us__container">
        <div class="contact-us__form-section">
            <h2 class="contact-us__title">Get in Touch</h2>
            <p class="contact-us__subtitle">
              You can reach us via 
              <a href="mailto:support@vocalbrief.com" class="contact-us__email">support@vocalbrief.com</a>
            </p>
        
            <form class="contact-us__form">
              <label for="name" class="contact-us__form__label">Name</label>
              <input type="text" id="name" class="contact-us__form__input contact-us__form__input--name" placeholder="Type here" />
        
              <label for="email" class="contact-us__form__label">Email</label>
              <input type="email" id="email" class="contact-us__form__input contact-us__form__input--email" placeholder="you@company.com" />
        
              <label for="message" class="contact-us__form__label">Message</label>
              <textarea id="message" class="contact-us__form__input contact-us__form__input--message" placeholder="Leave us a message..."></textarea>
        
              <button class="contact-us__form__button">Send message</button>
            </form>
          </div>
        
          <div class="contact-us__image-section">
            <img src="/img/form/form-image.webp" alt="Team working" class="contact-us__image" />
          </div>
    </div>
</div>
  