<section class="department-hero">
    {% include /blocks/breadcrumbs-hero.html %}
    <div class="department-hero__container">
        <div class="department-hero__content">
            <span class="department-hero__region">Офіційний сайт</span>
            <h1 class="department-hero__title">БТІ у {{page.region}}</h1>
            <p class="department-hero__description">
              Працюємо з фізичними та юридичними особами за прийнятною ціною.
            </p>
            <div class="department-hero__benefits">
              <div class="department-hero__benefit">
                <span class="department-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark" class="department-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark" class="department-hero__checkmark--white"></span> 
                Швидке оформлення <br> без черг
              </div>
              <div class="department-hero__benefit">
                <span class="department-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark" class="department-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark" class="department-hero__checkmark--white"></span> 
                Зорієнтуємо по <br> вартості
              </div>
            </div>
            <div class="homepage-hero__button-container">
              <a href="tel:380968202229" class="homepage-hero__service-button homepage-hero__cta consultation-button">+38 096 820 22 29</a>
              <button class=" homepage-hero__cta open-modal our-service-button--black">Залишити заявку</button>
            </div>
        </div>
          <div class="department-hero__image">
            <img src="/img/hero/hero-image.webp" alt="Вхід до відділення у м. Біла Церква">
          </div>
    </div>
</section>
  