<div class="documents">
    <div class="container">
        <div class="documents__header">
            <span class="documents__badge main-tag">Документи</span>
            <h2 class="documents__title">Перелік документів</h2>
            <p class="documents__subtitle">
                Працюємо з фізичними та юридичними особами за прийнятною ціною.
                Працюємо з фізичними та юридичними особами.
            </p>
        </div>
        <div class="documents__list">
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div class="">
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на однокімнатну квартиру
                    </p>
                </div>
            </div>
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div>
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на двокімнатну квартиру
                    </p>
                </div>
            </div>
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div>
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на трикімнатну квартиру
                    </p>
                </div>
            </div>
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div>
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на однокімнатну квартиру
                    </p>
                </div>
            </div>
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div>
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на двокімнатну квартиру
                    </p>
                </div>
            </div>
            <div class="documents__item">
                <span class="documents__dot"></span>
                <div>
                    <span class="documents__type">Документ</span>
                    <p class="documents__description">
                        Технічний паспорт на трикімнатну квартиру
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>