<div class="faq">
    <div class="container">
        <div class="faq__info">
            <span class="main-tag faq__tag">Поширені запитання</span>
            <h2 class="faq__title">Відповідаємо на ваші питання</h2>
        </div>
        {% for item in site.data.faq.faqs %}
        <div class="faq__item">
            <button class="faq__question">
                {{ item.question }}
                <span class="faq__icon"></span>
            </button>
            <div class="faq__answer">
                <p>{{ item.answer }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>