<section class="features">
  {% assign half_length = site.data.features.features | size | divided_by: 2 %}

  {% for feature in site.data.features.features %}
    <div class="features__content-wrapper--{% if feature.odd %}odd{% else %}even{% endif %} {{ feature.background_class }}">
      <div class="features__content">
        {% if feature.odd %}
        <div class="features__info">
          <div class="features__icon-container">
            <img src="{{ feature.icon }}" class="features__icons">
          </div>
          <h3 class="features__content-title">{{ feature.title }}</h3>
          <p class="features__content-description">
            {{ feature.description }}
          </p>
        </div>
        <div class="features__image-wrapper">
          <img src="{{ feature.image_desktop }}" alt="{{ feature.alt_text }}" class="features__image">
        </div>
        <div class="features__image-wrapper__mobile">
          <img src="{{ feature.image_mobile }}" alt="{{ feature.alt_text }}" class="features__image">
        </div>
        {% else %}
        <div class="features__image-wrapper features__image-wrapper--mirrored">
          <img src="{{ feature.image_desktop }}" alt="{{ feature.alt_text }}" class="features__image">
        </div>
        <div class="features__image-wrapper__mobile">
          <img src="{{ feature.image_mobile }}" alt="{{ feature.alt_text }}" class="features__image">
        </div>
        <div class="features__info">
          <div class="features__icon-container">
            <img src="{{ feature.icon }}" class="features__icons">
          </div>
          <h3 class="features__content-title">{{ feature.title }}</h3>
          <p class="features__content-description">
            {{ feature.description }}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
    
    {% if forloop.index == half_length %}
      {% include blocks/stats-pages.html %}
    {% endif %}
  {% endfor %}
</section>
