<section class="department-hero">
    <!-- {% include /blocks/breadcrumbs.html %} -->
    <div class="department-hero__container">
        <div class="department-hero__content">
            <h1 class="department-hero__title">
                Київське обласне БТІ. БТІ Київ
                 </h1>
            <p class="department-hero__description">
                Оформлення документів на нерухомість. Працюємо з фізичними та юридичними особами за прийнятною ціною.
            </p>
            <div class="department-hero__benefits">
              <div class="department-hero__benefit">
                <span class="department-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark" class="department-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark" class="department-hero__checkmark--white"></span> 
                Швидке оформлення <br> без черг
              </div>
              <div class="department-hero__benefit">
                <span class="department-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark" class="department-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark" class="department-hero__checkmark--white"></span> 
                Зорієнтуємо по <br> вартості
              </div>
            </div>
            <button class="consultation-button department-hero__cta">Консультація</button>
        </div>
          <div class="department-hero__image">
            <img src="/img/hero/hero-image.webp" alt="Вхід до відділення у м. Біла Церква">
          </div>
    </div>
</section>
  