<section class="how-it-works">
    <div class="how-it-works__container">
        <h2 class="how-it-works__title">How it works</h2>
        <p class="how-it-works__description">
            Vocal Brief, driven by Artificial Intelligence, empowers individuals and enterprises to collaborate efficiently by turning video, audio, and text into Highlights, Transcript, Summary, and Reports.
        </p>

        <div class="how-it-works__slider">
            <div class="how-it-works__content" style="display: flex;">
                <div class="how-it-works__image-wrapper">
                    <img src="/img/how-it-works/upload.png" alt="How it works" class="how-it-works__image">
                </div>
                <div class="how-it-works__upload">
                    <h3 class="how-it-works__upload-title">Upload a file</h3>
                    <p class="how-it-works__upload-description">
                        Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                    </p>
                </div>
            </div>
            <div class="how-it-works__content">
                <div class="how-it-works__image-wrapper">
                    <img src="/img/how-it-works/wait.webp" alt="Wait a 15 minutes" class="how-it-works__image">
                </div>
                <div class="how-it-works__upload">
                    <h3 class="how-it-works__upload-title">Wait a 15 minutes</h3>
                    <p class="how-it-works__upload-description">
                        Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                    </p>
                </div>
            </div>
            <div class="how-it-works__content">
                <div class="how-it-works__image-wrapper">
                    <img src="/img/how-it-works/get-result.webp" alt="Get awesome result" class="how-it-works__image">
                </div>
                <div class="how-it-works__upload">
                    <h3 class="how-it-works__upload-title">Get awesome result</h3>
                    <p class="how-it-works__upload-description">
                        Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
