<section class="how-it-works how-it-works--page">
    <div class="how-it-works__container">
        <div class="how-it-works__content" style="display: flex;">
            <div class="how-it-works__image-wrapper">
                <img src="/img/how-it-works/upload.png" alt="How it works" class="how-it-works__image how-it-works__image--page">
            </div>
            <div class="how-it-works__upload how-it-works__upload--page">
                <div class="how-it-works__icons-container">
                    <img src="/img/how-it-works/icons/upload.webp"  class="how-it-works__icons">
                </div>
                <h3 class="how-it-works__upload-title">Upload a file</h3>
                <p class="how-it-works__upload-description">
                    Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                </p>
            </div>
        </div>
        <div class="how-it-works__content how-it-works__content--reverse">
            <div class="how-it-works__image-wrapper">
                <img src="/img/how-it-works/wait.webp" alt="Wait a 15 minutes" class="how-it-works__image how-it-works__image--page">
            </div>
            <div class="how-it-works__upload how-it-works__upload--page">
                <div class="how-it-works__icons-container">
                    <img src="/img/how-it-works/icons/wait.webp"  class="how-it-works__icons">
                </div>
                <h3 class="how-it-works__upload-title">Wait a 15 minutes</h3>
                <p class="how-it-works__upload-description">
                    Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                </p>
            </div>
        </div>
        <div class="how-it-works__content">
            <div class="how-it-works__image-wrapper">
                <img src="/img/how-it-works/get-result.webp" alt="Get awesome result" class="how-it-works__image how-it-works__image--page">
            </div>
            <div class="how-it-works__upload how-it-works__upload--page">
                <div class="how-it-works__icons-container">
                    <img src="/img/how-it-works/icons/get-result.webp" class="how-it-works__icons">
                </div>
                <h3 class="how-it-works__upload-title">Get awesome result</h3>
                <p class="how-it-works__upload-description">
                    Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can.
                </p>
            </div>
        </div>
    </div>
</section>
