<section class="information-block">
  <div class="information-block__container">
    <div class="information-block__image--mobile">
      <img src="/img/phone.webp" alt="Vocal Brief interface on phone">
    </div>
    <div class="information-block__text">
      <h2 class="information-block__headline">
        Get essential information <span class="highlight">twice as fast as before.</span>
      </h2>
      <p class="information-block__subline">Quickly return to what you need at any time</p>
      <p class="information-block__subline">Artificial intelligence will find everything you need</p>
    </div>
    <div class="information-block__image">
      <img src="/img/information-image.webp" alt="Vocal Brief interface on laptop">
    </div>
  </div>
</section>
