<div class="panel">
  <div class="panel__slider">
    {% for panel in site.data.panels %}
    <div class="panel__content">
      <div class="panel__section">
        <h2 class="panel__section--header">{{ panel.header }}</h2>
        <p class="panel__section--content">{{ panel.content }}</p>
      </div>
      <div class="features__image-wrapper panel__image-wrapper">
        <img src="{{ panel.image }}" alt="{{ panel.header }}">
      </div>
      <div class="panel__image-mobile">
        <img src="{{ panel.image-mobile }}" alt="{{ panel.header }}">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
