<section class="pricing-block">
  <div class="container pricing-block__wrapper">
    <div class="pricing-block__background">
      <div class="main-tag--gray pricing-block__tag">Вартість послуг</div>
      <h2 class="pricing-block__title">Дізнайтеся точну <br> вартість наших послуг</h2>
      <div class="pricing-block__benefits">
        <div class="pricing-block__benefit">
          <span class="pricing-block__benefit-icon">
            <img src="/img/icons/checkmark-white.svg" alt="checkmark" class="pricing-block__checkmark">
          </span>
          Швидке оформлення <br> без черг
        </div>
        <div class="pricing-block__benefit">
          <span class="pricing-block__benefit-icon">
            <img src="/img/icons/checkmark-white.svg" alt="checkmark" class="pricing-block__checkmark">
          </span>
          Зорієнтуємо по <br> вартості
        </div>
      </div>
    </div>
    <div class="pricing-block__form-wrapper">
      <h2 class="pricing-block__title" id="pricingModalTitle">
        Залишіть нам свої контактні дані і наш менеджер зв’яжеться з Вами для особистої консультації. Заявки обробляються в будні дні (пн-пт) з 09:00 до 17:00
      </h2>
      <form class="pricing-block__form" id="telegramForm">
        <div class="pricing-block__row">
          <label class="pricing-block__label">
            Ім'я*
            <input type="text" name="name" class="pricing-block__input" placeholder="Введіть дані" required>
          </label>
          <label class="pricing-block__label">
            Номер телефону*
            <input type="tel" name="phone" class="pricing-block__input" placeholder="+380" required id="pricingPhone">
          </label>
        </div>
        <label class="pricing-block__label">
          Послуга
          <div class="pricing-block__custom-dropdown">
            <div class="pricing-block__dropdown-selected"><div class="modal__dropdown-text">Виготовлення технічних паспортів</div></div>
            <ul class="pricing-block__dropdown-options">
              <li class="modal__dropdown-option" data-value="Консультація з оформлення документів">Консультація з оформлення документів</li>
              <li class="modal__dropdown-option" data-value="Виготовлення технічних паспортів">Виготовлення технічних паспортів</li>
              <li class="modal__dropdown-option" data-value="Незалежна оцінка нерухомого майна">Незалежна оцінка нерухомого майна</li>
              <li class="modal__dropdown-option" data-value="Консультація про експлуатацію">Консультація про експлуатацію</li>
              <li class="modal__dropdown-option" data-value="Довідка про право власності">Довідка про право власності</li>
              <li class="modal__dropdown-option" data-value="Технічна інвентаризація">Технічна інвентаризація</li>
              <li class="modal__dropdown-option" data-value="Технічна документація">Технічна документація</li>
              <li class="modal__dropdown-option" data-value="Інший документ">Інший документ</li>
            </ul>
            <input type="hidden" name="service" value="Виготовлення технічних паспортів">
          </div>
        </label>
        <button class="pricing-block__button consultation-button" type="submit">Дізнатися точну вартість</button>
      </form>
      <div class="pricing-block__success-message" style="display:none;">
        <h2>Дякуємо за заявку!</h2>
        <p>Наш менеджер зв’яжеться з Вами в найближчий час для особистої консультації.</p>
        <div class="modal__info-footer">
          <div class="modal__info-footer__title">Номер для швидкої консультації:</div>
          <div class="modal__info-footer__number">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_163_27)">
                <path d="M13.7763 11.5932C12.8237 10.7784 11.8569 10.2848 10.916 11.0984L10.3541 11.5901C9.94304 11.947 9.17874 13.6147 6.22366 10.2153C3.2692 6.82023 5.02735 6.29161 5.43904 5.93777L6.00397 5.44546C6.93997 4.63007 6.58674 3.60361 5.91166 2.547L5.50427 1.907C4.82612 0.852842 4.08766 0.160534 3.1492 0.974688L2.64212 1.41777C2.22735 1.71992 1.06797 2.70207 0.786735 4.56792C0.448274 6.80669 1.51597 9.37038 3.96212 12.1833C6.4052 14.9975 8.7972 16.411 11.063 16.3864C12.9461 16.3661 14.0834 15.3556 14.439 14.9882L14.948 14.5445C15.884 13.731 15.3024 12.9027 14.3492 12.0861L13.7763 11.5932Z" fill="#2C4FC9"/>
              </g>
              <defs>
                <clipPath id="clip0_163_27">
                  <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
              </defs>
            </svg> 
            <a href="tel:+380968202229">+38 096 820 22 29</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
