<section class="pricing-block">
  <div class="container pricing-block__wrapper">
    <div class="pricing-block__background">
      <div class="main-tag--gray pricing-block__tag">Вартість послуг</div>
      <h2 class="pricing-block__title">Дізнайтеся точну <br> вартість наших послуг</h2>
      <div class="pricing-block__benefits">
        <div class="pricing-block__benefit">
          <span class="pricing-block__benefit-icon">
            <img src="/img/icons/checkmark-white.svg" alt="checkmark" class="pricing-block__checkmark">
          </span>
          Швидке оформлення <br> без черг
        </div>
        <div class="pricing-block__benefit">
          <span class="pricing-block__benefit-icon">
            <img src="/img/icons/checkmark-white.svg" alt="checkmark" class="pricing-block__checkmark">
          </span>
          Зорієнтуємо по <br> вартості
        </div>
      </div>
    </div>
    <div class="pricing-block__form-wrapper">
      <h2 class="pricing-block__title">
        Залишіть нам свої контактні дані і наш менеджер зв’яжеться з Вами для особистої консультації.
      </h2>
      <form id="telegramForm" class="pricing-block__form">
        <div class="pricing-block__row">
          <label class="pricing-block__label">
            Ім'я*
            <input type="text" name="name" class="pricing-block__input" placeholder="Введіть дані" required>
          </label>
          <label class="pricing-block__label">
            Номер телефону*
            <input type="tel" name="phone" class="pricing-block__input" placeholder="+380" required>
          </label>
        </div>
        <label class="pricing-block__label">
          Послуга
          <select name="service" class="pricing-block__input">
            <option value="Виготовлення технічних паспортів">Виготовлення технічних паспортів</option>
            <option value="Інший документ">Інший документ</option>
          </select>
        </label>

        <label class="pricing-block__label">
          Тип документа
          <select name="documentType" class="pricing-block__input">
            <option value="Технічний паспорт">Технічний паспорт</option>
            <option value="Інший документ">Інший документ</option>
          </select>
        </label>

        <button class="pricing-block__button consultation-button" type="submit">Дізнатися точну вартість</button>
      </form>
    </div>
  </div>
</section>
