<div class="pricing">
  <h2>Choose a plan</h2>

  <div class="pricing__toggle monthly-active">
    <button class="pricing__billing-btn pricing__billing-btn--active" onclick="toggleBilling('monthly')">Monthly billing</button>
    <button class="pricing__billing-btn" onclick="toggleBilling('annual')">Annual billing</button>
  </div>

  <div class="pricing__plans pricing__plans--monthly">
    {% for plan in site.data.pricing.monthly %}
      <div class="pricing__plan {% if forloop.first %}pricing__plan--free{% endif %}">
        <img src="{{ plan.image }}" class="pricing__image" alt="{{ plan.title }} image">
        <h3 class="pricing__title">{{ plan.title }}</h3>
        <p class="pricing__files">{{ plan.files }}</p>
        <p class="pricing__prompts">Prompts</p>
        <p class="pricing__storage-info">{{ plan.storage_info }}</p>
        <p class="pricing__storage">{{ plan.storage }}</p>
        <p class="pricing__price">{{ plan.price }}</p>
        <div class="pricing__button-container">
          <button class="pages-hero__button pricing__button">
            <span><img src="{{ plan.button_icon }}" alt=""></span>{{ plan.button_text }}
          </button>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pricing__plans pricing__plans--annual" style="display: none;">
    {% for plan in site.data.pricing.annual %}
      <div class="pricing__plan {% if forloop.first %}pricing__plan--free{% endif %}">
        <img src="{{ plan.image }}" class="pricing__image" alt="{{ plan.title }} image">
        <h3 class="pricing__title">{{ plan.title }}</h3>
        <p class="pricing__files">{{ plan.files }}</p>
        <p class="pricing__prompts">Prompts</p>
        <p class="pricing__storage-info">{{ plan.storage_info }}</p>
        <p class="pricing__storage">{{ plan.storage }}</p>
        <p class="pricing__price">{{ plan.price }}</p>
        <div class="pricing__button-container">
          <button class="pages-hero__button pricing__button">
            <span><img src="{{ plan.button_icon }}" alt=""></span>{{ plan.button_text }}
          </button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
