<div class="privacy-policy">
  <div class="privacy-policy__container">
    <aside class="privacy-policy__sidebar">
      <nav class="sidebar__menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#section1" class="menu__link menu__link--active">Політика конфіденційності</a>
          </li>
          <li class="menu__item">
            <a href="#section2" class="menu__link">Поширені запитання</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <div id="section1" class="privacy-policy__content">
        <h1 class="content__title">Політика конфіденційності</h1>
        <p class="content__text">
          Дана угода про конфіденційність розроблено відповідно до вимог Закону України «Про захист персональних даних»
          та інших нормативних актів українського законодавства, що регламентують правові відносини, пов'язані зі
          збором, обробкою, зберіганням персональних даних, а також правом громадян на невтручання в особисте життя та
          правом на самовираження.
        </p>
        <p class="content__text">
          Компанія з великою повагою ставиться до конфіденційної (персональної) інформації всіх без винятку осіб, які
          підписались (зареєструвались) на Сайті та/або які є користувачами Сайту , в зв’язку з чим, Компанія прагне
          захищати конфіденційність персональних даних (відомостей чи сукупність відомостей про фізичну особу, яка
          ідентифікована або може бути ідентифікована), тим самим створивши і забезпечивши максимально комфортні умови
          використання сервісів Сайту кожному Користувачеві. Оскільки Компанія здійснює обробку персональних даних з
          використанням мережі «Інтернет», необмежений доступ до цього Положення забезпечується за допомогою
          опублікування (розміщення) його на Сайті.
        </p>
        <p class="content__text">
          Ця політика Конфіденційності та захисту персональних даних (надалі за текстом – Політика конфіденційності)
          визначає правила і порядок обробки і зберігання персональних даних Клієнтів Компанії або Користувачів сайту, а
          також інших осіб, що мають відношення до Клієнта та/або Користувачів.
        </p>
        <h2 class="content__h2">1. Визначення термінів</h2>
        <p class="content__text">
          1.1. У даній Політиці конфіденційності використовуються такі терміни: <br> 1.1.1. «Сайт» — це Інтернет-сайт,
          доступний за адресою (має доменне ім’я) http://btigov.com/ або його піддоменів. <br> 1.1.3. «Адміністрація
          сайту http://btigov.com/ (далі - Адміністрація сайту чи Компанія)» - уповноважені співробітники на управління
          сайтом, що діють від імені КП «Бюро технічної інвентаризації Києво-Святошинської районної ради Київської
          області»., які організовують обробку персональних даних, а також визначає цілі обробки персональних даних,
          склад персональних даних, які підлягають обробці, дії або операції, що здійснюються з персональними
          даними.Управління даного Сайту http://btigov.com/ КП «Бюро технічної інвентаризації Києво-Святошинської
          районної ради Київської області» (далі за тестом – Компанія).<br> 1.1.4. «Користувач Сайту (далі за текстом —
          Користувач)» — особа, яка має доступ до сайту, за допомогою мережі Інтернет і використовує даний сайт для свої
          мети.<br>1.1.5. «Клієнт» — фізична особа (у тому числі: представник фізичної особи, індивідуальний
          підприємець, представник індивідуального підприємця, керівник або інший уповноважений представник юридичної
          особи), що знаходиться в договірних відносинах з Компанією і надала свої ПД для обробки в добровільному
          порядку.<br>1.1.6. «Надання персональних даних» ( надалі за текстом — ПД) — дії, спрямовані на розкриття ПД
          певній особі або певному колу осіб.<br>1.1.7. «Суб’єкт» — Користувач або Клієнт або контрагент Клієнта, який
          надав Компанії свої ПД.<br>1.1.8. «Персональні дані »- будь-яка інформація, що відноситься прямо або побічно
          до певного або визначається фізичній особі (суб'єкту персональних даних).<br>1.1.9. «Обробка персональних
          даних» - будь-яка дія (операція) або сукупність дій (операцій), що здійснюються з використанням засобів
          автоматизації або без використання таких засобів з персональними даними, включаючи збір, запис,
          систематизацію, накопичення, зберігання, уточнення (оновлення, зміна), витяг, використання, передачу
          (поширення, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних.<br>1.1.10.
          «Конфіденційність персональних даних» - обов'язкова для дотримання Адміністрацією сайту або іншими Суб’єктами,
          які отримали доступ до персональних даних, вимога не допускати їх поширення без згоди суб'єкта персональних
          даних або наявності іншого законної підстави.<br>1.1.11. «Cookies» - невеликий фрагмент даних, відправлений
          веб-сервером і зберігається на комп'ютері користувача, який веб-клієнт або веб-браузер кожен раз пересилає
          веб-серверу в HTTP-запиті при спробі відкрити сторінку відповідного сайту.<br>1.1.12. «IP-адреса» - унікальний
          мережеву адресу вузла в комп'ютерній мережі, побудованої за протоколом IP.
        </p>
        <h2 class="content__h2">2.Загальні положення</h2>
        <p class="content__text">
          2.1. Використання Користувачем Сайту означає згоду з цією Політикою конфіденційності і умовами обробки
          персональних даних Користувача.<br>2.2. У разі незгоди з умовами Політики конфіденційності Користувач повинен
          припинити використання Сайту.<br>2.3. Компанія не перевіряє достовірність персональних даних, що надаються
          Користувачем Сайту.
        </p>
        <h2 class="content__h2">3. Предмет політики конфіденційності</h2>
        <p class="content__text">
          3.1. Ця Політика конфіденційності встановлює зобов’язання Компанії щодо умисного нерозголошення персональних
          даних, які Користувач або Клієнт надає (наприклад, при використанні Сайту, реєстрації на сайті, оформленні
          замовлення, оформлення запиту, підписки на повідомлення інформації, тощо).<br>3.2. Персональні дані, дозволені
          до обробки в рамках цієї Політики конфіденційності, надаються Користувачем шляхом заповнення спеціальних форм
          на Сайті або на паперових носіях і зазвичай включають в себе наступну інформацію:<br>3.2.1. прізвище, ім’я, по
          батькові Користувача;<br>3.2.2. контактний телефон Користувача;<br>3.2.3. адреса електронної пошти
          (e-mail) <br>3.2.4. компанію, яку представляє Користувач (за необхідністю) та інші дані.<br>3.3. Компанія
          також докладає зусиль щодо захисту Персональних даних, які автоматично передаються в процесі відвідування
          сторінок сайту:<br>IP адреса;інформація з cookies;<br>інформація про браузер (чи іншої програми, яка здійснює
          доступ до сайту);<br>час доступу;<br>відвіданих адрес сторінок;<br> реферер (адреса попередньої сторінки) і
          т.п.<br>3.4 Сайт здійснює збір статистики про IP-адреси своїх користувачів сайту. Дана інформація
          використовується з метою виявлення і вирішення технічних проблем, для контролю коректності проведених
          операцій.
        </p>
      </div>
      <div id="section2" class="privacy-policy__content" style="display: none;">
        <h1 class="content__title">Поширені запитання</h1>
        <div class="faq" style="padding-top: 0;">
          {% for item in site.data.faq.faqs %}
          <div class="faq__item">
            <div class="faq__question">
              <div class="faq__text faq__text--privacy">
                  {{ item.question }}
              </div>
              <div class="faq__icon" aria-label="Toggle Answer"></div>
            </div>
            <div class="faq__answer">
              <p>{{ item.answer }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
  </main>
</div>
</div>