<section class="privacy-policy">
    <div class="privacy-policy__container">
        <h3 class="privacy-policy__titles">
            Information We Collect
        </h3>
        <ol class="privacy-policy__list">
            <li>Personal information (e.g., name, email)</li>
            <li>Recording data (audio, video, transcripts)</li>
        </ol>
        <h3 class="privacy-policy__titles">
            Information We Collect
        </h3>
        <div class="privacy-policy__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h3 class="privacy-policy__titles">
            Lorem
        </h3>
        <div class="privacy-policy__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h3 class="privacy-policy__titles">
            Lorem Use Your Information
        </h3>
        <div class="privacy-policy__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h3 class="privacy-policy__titles">
            Lorem Use Your Information
        </h3>
        <div class="privacy-policy__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
        </div>
        <div class="privacy-policy__cta">You can reach us via <a href="mailto:support@vocalbrief.com" class="privacy-policy__cta-link">support@vocalbrief.com</a></div>
    </div>
</section>