<section class="services">
    <div class="services__wrapper">
        <div class="services__header">
            <span class="services__tag main-tag">Основні послуги</span>
            <h2 class="services__title">Питання будь-якої складності <br> в найкоротші терміни</h2>
            <p class="services__subtitle">Працюємо з фізичними та юридичними особами за прийнятною ціною</p>
        </div>
        <div class="services__slider">
            <div class="services__card">
                <h3 class="services__card-title">Проведення <span>технічної інвентаризації</span> об'єктів житлового та нежитлового фонду</h3>
                <p class="services__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services__card-term">Терміни виконання:</p>
                <div class="services__card-details services__card-details--mobile">
                    <p class="services__card-term">Терміни виконання:</p>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
                <div class="services__card-details">
                    <span class="services__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
            </div>
            <div class="services__card">
                <h3 class="services__card-title">Проведення <span>технічної інвентаризації</span> об'єктів житлового та нежитлового фонду</h3>
                <p class="services__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services__card-term">Терміни виконання:</p>
                <div class="services__card-details services__card-details--mobile">
                    <p class="services__card-term">Терміни виконання:</p>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
                <div class="services__card-details">
                    <span class="services__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
            </div>
            <div class="services__card">
                <h3 class="services__card-title">Проведення <span>технічної інвентаризації</span> об'єктів житлового та нежитлового фонду</h3>
                <p class="services__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services__card-term">Терміни виконання:</p>
                <div class="services__card-details services__card-details--mobile">
                    <p class="services__card-term">Терміни виконання:</p>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
                <div class="services__card-details">
                    <span class="services__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
            </div>
            <div class="services__card">
                <h3 class="services__card-title">Проведення <span>технічної інвентаризації</span> об'єктів житлового та нежитлового фонду</h3>
                <p class="services__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services__card-term">Терміни виконання:</p>
                <div class="services__card-details services__card-details--mobile">
                    <p class="services__card-term">Терміни виконання:</p>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
                <div class="services__card-details">
                    <span class="services__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <a href="#" class="services__card-link">Дізнатися більше</a>
                </div>
            </div>
        </div>
        <div class="services__button-wrapper">
            <button class="consultation-button">Переглянути усі послуги</button>
        </div>
    </div>
</section>