<section class="services{% if page.permalink != '/' %} services--no-padding{% endif %}">
    <div class="services__wrapper">
        <div class="services__header">
            <span class="services__tag main-tag">Основні послуги</span>
            <h2 class="services__title">Питання будь-якої складності <br> в найкоротші терміни</h2>
            <p class="services__subtitle">Працюємо з фізичними та юридичними особами за прийнятною ціною</p>
        </div>
        <div class="services__slider">
            {% for page in site.pages %}
            {% if page.category == 'services' %}
            <a href="{{ page.permalink }}" class="services-list__card">
                <h3 class="services-list__card-title">{{ page.hero-title }} {{ page.hero-subtitle }}</h3>
                <p class="services-list__card-description">(виготовляємо офіційні документи БТІ)</p>
                <div class="services-list__card-details-info">
                    <p class="services-list__card-term">Терміни виконання:</p>
                    <div class="services-list__card-details services-list__card-details--mobile">
                        <p class="services-list__card-term">Терміни виконання:</p>
                        <div class="services-list__card-link">Дізнатися більше</div>
                    </div>
                    <div class="services-list__card-details">
                        <span class="services-list__card-time"><img src="/img/icons/clock.svg" alt="clock">{{ page.deadline }}</span>
                        <div class="services-list__card-link">Дізнатися більше</div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="services__button-wrapper">
            <a href="/services/" class="consultation-button">Переглянути усі послуги</a>
        </div>
    </div>
</section>


