<section class="container service-order">
    <div class="service-order__wrapper">
        <img src="/img/cta/cta-circles.webp" alt="Decorative circles" class="service-order__image">
        <img src="/img/cta/cta-circles-mobile.webp" alt="Decorative circles" class="service-order__image--mobile">
        <div class="service-order__content">
            <div class="serivce-order__info">
                <h2 class="service-order__title">Замовте послугу і отримаєте готовий паспорт!</h2>
                <p class="service-order__description">
                    Працюємо з фізичними та юридичними особами за прийнятною ціною. Працюємо з фізичними та юридичними
                    особам
                </p>
            </div>
            <button class="service-order__button button-white">Консультація</button>
        </div>
    </div>
</section>