<section class="services{% if page.permalink != '/' %} services--no-padding{% endif %}">
    <div class="services__wrapper">
        <div class="services__header">
            <span class="services__tag main-tag">Основні послуги</span>
            <h2 class="services__title">Питання будь-якої складності <br> в найкоротші терміни</h2>
            <p class="services__subtitle">Працюємо з фізичними та юридичними особами за прийнятною ціною</p>
        </div>
        <div class="services__slider">
            <a href="/technichna-inventarizacia/" class="services-list__card">
                <h3 class="services-list__card-title">Проведення <span>технічної <br> інвентаризації</span> об'єктів житлового та нежитлового фонду</h3>
                <p class="services-list__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services-list__card-term">Терміни виконання:</p>
                <div class="services-list__card-details services-list__card-details--mobile">
                    <p class="services-list__card-term">Терміни виконання:</p>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
                <div class="services-list__card-details">
                    <span class="services-list__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
            </a>
            <a href="/dovidka-pro-pravo-vlasnosti/" class="services-list__card">
                <h3 class="services-list__card-title"><span>Довідка про  право власності</span><br> на нерухоме майно  зареєстрованого до 01.01.2013</h3>
                <p class="services-list__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services-list__card-term">Терміни виконання:</p>
                <div class="services-list__card-details services-list__card-details--mobile">
                    <p class="services-list__card-term">Терміни виконання:</p>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
                <div class="services-list__card-details">
                    <span class="services-list__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
            </a>
            <a href="/otsinka-bti/" class="services-list__card">
                <h3 class="services-list__card-title">Оцінка БТІ - проводимо <span><br>незалежну (експертну) оцінку</span> нерухомого майна</h3>
                <p class="services-list__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services-list__card-term">Терміни виконання:</p>
                <div class="services-list__card-details services-list__card-details--mobile">
                    <p class="services-list__card-term">Терміни виконання:</p>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
                <div class="services-list__card-details">
                    <span class="services-list__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
            </a>
            <a href="/tekhnichnyy-pasport/" class="services-list__card">
                <h3 class="services-list__card-title">Виготовлення <span>технічних паспортів</span> <br> квартир, будинків, гаражів, виробничих будівель тощо</h3>
                <p class="services-list__card-description">(виготовляємо офіційні документи БТІ)</p>
                <p class="services-list__card-term">Терміни виконання:</p>
                <div class="services-list__card-details services-list__card-details--mobile">
                    <p class="services-list__card-term">Терміни виконання:</p>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
                <div class="services-list__card-details">
                    <span class="services-list__card-time"><img src="/img/icons/clock.svg" alt="clock">1-5 днів</span>
                    <div class="services-list__card-link">Дізнатися більше</div>
                </div>
            </a>
        </div>
        <div class="services__button-wrapper">
            <button class="consultation-button">Переглянути усі послуги</button>
        </div>
    </div>
</section>


