<section class="services-hero">
  {% include /blocks/breadcrumbs-hero.html %}
    <div class="services-hero__container">
      <div class="services-hero__content">
        <span class="services-hero__region">{{page.district}}</span>
        <h1 class="services-hero__title">
          {{ page.hero-title }}
        </h1>
        <p class="services-hero__subtitle">
          {{ page.hero-subtitle }}
        </p>
        <div class="services-hero__trident-container">
          <img src="/img/icons/trident.svg" alt="Тризуб" class="services-hero__trident-image"></img>
          <img src="/img/icons/trident-white.svg" alt="Тризуб" class="services-hero__trident-image--mobile"></img>
          <div class="services-hero__trident-text">
            З внесенням до реєстру <br> будівельної діяльності
          </div>
        </div>
        <div class="services-hero__benefits">
          <div class="services-hero__benefit">
            <span class="services-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark"
                class="services-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark"
                class="services-hero__checkmark--white"></span>
            Швидке оформлення <br> без черг
          </div>
          <div class="services-hero__benefit">
            <span class="services-hero__benefit-icon"><img src="/img/icons/checkmark.svg" alt="checkmark"
                class="services-hero__checkmark"><img src="/img/icons/checkmark-white.svg" alt="checkmark"
                class="services-hero__checkmark--white"></span>
            Документи можна передати <br> в будь якому відділені
          </div>
        </div>
        <div class="services-hero__button-container">
          <button class="consultation-button services-hero__cta">Консультація</button>
          <button class="services-hero__service-button our-service-button--black">Наші послуги</button>
        </div>
      </div>
      <div class="services-hero__image">
        <img src="/img/hero/hero-image.webp" alt="Вхід до відділення у м. Біла Церква">
      </div>
    </div>
</section>