<div class="stats">
    <div class="stats__item">
      <h2 class="stats__number">99<span class="stats__percentage">%</span></h2>
      <p class="stats__description">Vocal Brief, driven by Artificial Intelligence, empowers individuals and organizations.</p>
    </div>
    
    <div class="stats__item">
      <h2 class="stats__number">100<span class="stats__unit">bln</span></h2>
      <p class="stats__description">Allowance sweetness direction to as necessary.</p>
    </div>
  
    <div class="stats__item">
      <h2 class="stats__number">2<span class="stats__unit">x</span></h2>
      <p class="stats__description">Now for manners use has company believe parlors.</p>
    </div>
</div>
  