<div class="testimonials">
  <div class="testimonials__container">
    <div class="testimonials__header">
      <h2 class="testimonials__title">See why people choose us</h2>
      <!-- <div class="testimonials__arrows">
        <button class="testimonials__arrow testimonials__arrow--left">&lt;</button>
        <button class="testimonials__arrow testimonials__arrow--right">&gt;</button>
      </div> -->
    </div>
    <div class="testimonials__carousel">
      <div class="testimonial-card">
        <img src="/img/testimonial-icon/Dmytro.png" alt="Elena De Jesus" class="testimonial-card__avatar" />
        <h3 class="testimonial-card__name">Dmytro Antonyuk</h3>
        <div class="testimonial-card__rating">
          <img src="/img/testimonial-icon/stars.webp" />
        </div>
        <p class="testimonial-card__text">
          Magnificent, attention, Kindness, Quality, And Responsibility.
        </p>
      </div>
      <div class="testimonial-card">
        <img src="/img/testimonial-icon/Ivan.png" alt="Elena De Jesus" class="testimonial-card__avatar" />
        <h3 class="testimonial-card__name">Ivan Loginov</h3>
        <div class="testimonial-card__rating">
          <img src="/img/testimonial-icon/stars.webp" />
        </div>
        <p class="testimonial-card__text">
          Magnificent, attention, Kindness, Quality, And Responsibility.
        </p>
      </div>
    </div>
    <div class="testimonials__arrows">
      <button class="testimonials__arrow testimonials__arrow--left"><img src="/img/arrows/arrow-left.svg" alt="arrow-left"></button>
      <button class="testimonials__arrow testimonials__arrow--right"><img src="/img/arrows/arrow-right.svg" alt="arrow-right"></button>
    </div>
  </div>
</div>
