$primary-color: #0332FF;
$button-hover-color: #0332FF;
$text-color: #292D34;
$secondary-text: #73798F;
$gray-text: #475467;
$container-width: 1200px;
$background-pages: #F8F6FF;
$background-secondary: #D9E0FF;
$transition-hover: background-color 0.3s ease;