$headerBackground: #2C4FC9;
$headerBorderColor: rgba(252, 252, 252, 0.15);
$mainWhite: #FCFCFC;
$mainWhiteDesc: rgba(252, 252, 252, 0.70);
$mainGray: rgba(252, 252, 252, 0.50);
$mainBlack: #1E1E1E;
$descriptionColor: rgba(30, 30, 30, 0.60);
$mainBlue: #2C4FC9;
$mobileBreakpoint: 768px;